/*
*/
body {
	align-content: center;
	margin: 0 auto;
}

#header {
    position: fixed;
    width: 100%;
    margin-top: 0 !important;
    padding-bottom: 20px;
    z-index: 10;
    background-color: white;
    letter-spacing: 1px;
}

#header, h3 {
	font-family: 'letter-gothic-std', 'Quicksand', monospace, sans-serif;
	font-weight: 450;
	font-style: normal;
    font-size: 15px;
    text-align: center;
}

p {
	font-family: 'Quicksand', monospace, sans-serif;
	font-weight: 350;
	font-style: normal;
    font-size: 15px;
    text-align: center;
}

#logo {
	max-width: 240px;
	position: relative;
	display: block;
	padding: 10px 0 20px;
	margin: 0 auto !important;
	z-index: 9;
}

.current {
	color: black;
}

.other {
	color: rgba(180, 180, 180, 1); /*light grey */
}

.current, .other {
	display: inline-block;
	position: relative;
	margin: 0 auto !important;
	padding: 0 20px;
}

.wrap {
	padding-top: 125px;
	position: relative;
	margin: 0 auto;
	width: 70%;
	align-items: center; 
	justify-content: center;
	display: inline-block;
}

.wrapper {
	padding-top: 25px;
	position: relative;
	margin: 0 auto;
	width: 100%;
	align-items: center; 
	justify-content: center;
	display: inline-block;
}

.project-wrap {
	padding-top: 50px;
	position: relative;
	margin: 0 auto;
	width: 100%;
	align-items: center; 
	justify-content: center;
}

h1, h2 {
	text-align: center;
	font-family: Georgia, serif;
	font-weight: bold;
}

h1 {
	font-size: 20px;
	letter-spacing: 1.5px;
	display: inline-block;
}

h2 {
	font-size: 18px;
	letter-spacing: 1px;
}

.column-four {
	vertical-align: top;
	width: 190px;
	margin: 0px 0px 0px 30px;
	display: inline-block;
}

.column-four img {
	width: 100%;
}

.column-two {
	vertical-align: top;
	width: 45%;
	margin: 0px 0px 0px 30px;
	display: inline-block;
}

.image {
	
	margin: 1%;
	padding: 1% 0;
	position: relative;	
	display: inline;
}

.image_description {
	position: absolute;
	height: inherit;
	width: inherit;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 20%;
	text-align: center;

	color: black;
	visibility: hidden;
	opacity: 0;

	font-family: 'letter-gothic-std', 'Quicksand', monospace, sans-serif;
	font-size: 50px;
	text-shadow: 2px 2px 2px white;

  /* transition effect. not necessary */
	transition: opacity .2s, visibility .2s;
}

.image:hover {
	opacity: 0.75;
}

.image:hover .image_description {
  visibility: visible;
  opacity: 1;
}

.photo, .photo-prof {
	width: 250px;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.photo:hover, .column-four img:hover {
	opacity: 0.75;
}

.photo img, .photo-prof img{
    width: 100%;
}

.photo-prof {
	position: relative;
	float: left;
}

.photo-prof .prof-hover {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}

.photo-prof:hover .prof-hover {
	display: block;
}

.about {
	width: 50%;
	padding: 0 ;
}

.about-para {

	padding-left: 140px;
	margin-left: 140px;
	letter-spacing: 0.5px;
	text-align: center;
}

.title {
	color: #000;
	display: inline-block;
	font-family: 'letter-gothic-std', 'Quicksand', monospace, sans-serif;
	font-size: 35px;
	text-align: left; 
	
}

.close {
	width: 300px;
	display: inline-block;
	padding: 10px;
	vertical-align: middle;
}

.closeimg {
	width: 300px;
	display: inline-block;
	vertical-align: middle;
}

a {
 	text-decoration: none;
 	color: rgba(180, 180, 180, 1);
 }

a:hover {
 	color: rgba(244, 0, 134, 1);
 }


/* padding is top, right, bottom, left*/

.cyan {
	color: rgba(0, 229, 207, 1);  /* #00E5CF */ 
}

.magenta {
	color: rgba(244, 0, 134, 1);  /* #F40086 */ 
	display: inline-block;
}

.yellow {
	color: rgba(235, 175, 0, 1);  /* #EBAF00 */ 
}

.key {
	color: rgba(41, 41, 41, 1);  /* #292929 */ 
}

/* Fixed width for larger screens (e.g. desktops) */
.content-container {
  width: 960px; 
  margin: 0 auto; 
}


/* Styles for screens up to 768px wide (e.g., tablets in portrait mode) */
@media (max-width: 768px) {
  .content-container {
    width: 90%; 
    padding: 0 15px; 
  }
}

/* Styles for screens up to 480px wide (e.g., mobile phones) */
@media (max-width: 480px) {
  .content-container {
    width: 100%; 
    padding: 0 10px;
  }
  .wrap {
  	width: 90%;
  	padding: 175px 5%;
  }

}
