/*
*/
body {
	align-content: center;
	margin: 0 auto;
}

#header {
    position: fixed;
    width: 100%;
    margin-top: 0 !important;
    padding-bottom: 20px;
    z-index: 10;
    background-color: white;
}

#header, p {
	font-family: 'Quicksand', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
}

#logo {
	max-width: 13.5%;
	position: relative;
	display: block;
	padding: 10px 0 20px;
	margin: 0 auto !important;
	z-index: 9;
}

.current {
	color: black;
}

.other {
	color: lightgray;
}

.current, .other {
	display: inline-block;
	position: relative;
	margin: 0 auto !important;
	padding: 0 20px;
}

#wrap {
	padding-top: 125px;
	position: relative;
	margin: 0 auto;
	width: 100%;
	align-items: center; 
	justify-content: center;
}

h1, h2 {
	text-align: center;
	font-family: Georgia, serif;
	font-size: 20px;
	font-weight: bold;
}

h1 {
	font-size: 20px;
	letter-spacing: 1.5px;
	display: inline-block;
}

h2 {
	font-size: 18px;
	letter-spacing: 1px;
}

.column-four {
	vertical-align: top;
	width: 190px;
	margin: 0px 0px 0px 30px;
	display: inline-block;
}

.column-four img {
	width: 100%;
}

.photo, .photo-prof {
	width: 250px;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.photo:hover, .column-four img:hover {
	opacity: 0.75;
}

.photo img, .photo-prof img{
    width: 100%;
}

.photo-prof {
	position: relative;
	float: left;
}

.photo-prof .prof-hover {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}

.photo-prof:hover .prof-hover {
	display: block;
}

.about {
	width: 550px;
	padding: 0 10px;
}

.about-para {
	padding-left: 20px;
	margin-left: 100px;
	letter-spacing: 0.5px;
}

.close {
	width: 300px;
	display: inline-block;
	padding: 10px;
	vertical-align: middle;
}

.closeimg {
	width: 300px;
	display: inline-block;
	vertical-align: middle;
}

a {
 	text-decoration: none;
 	color: black;
 }

 a:link, a:visited {
 	color: black;
 }

 a:hover {
 	color: rgba(244, 0, 134, 1);
 }


/* padding is top, right, bottom, left*/

.cyan {
	color: rgba(0, 229, 207, 1);  /* #00E5CF */ 
}

.magenta {
	color: rgba(244, 0, 134, 1);  /* #F40086 */ 
	display: inline-block;
}

.yellow {
	color: rgba(235, 175, 0, 1);  /* #EBAF00 */ 
}

.key {
	color: rgba(41, 41, 41, 1);  /* #292929 */ 
}