/*
*/

body,
html {
  width: 100%;
  height: 100%; }

#page-wrap {
     width: 900px;
     height: 100%;
     margin: 0 auto;
}

body {
  font-family: 'Archivo Black', Arial, sans-serif;
  font-size: 72px; }

a {
 	text-decoration: none;
 	color: black;
 }

 a:link, a:visited {
 	color: black;
 }

 a:hover {
 	color: gray;
 }

/* padding is top, right, bottom, left*/

.black {
	color: #000000 ;
	height: 100px;
	width: 500px;
	position: inline-block;
	margin: 10px 0px -32px 50px;
}

.hot-pink {
	color: #ff1256;
	height: 100px;
	width: 500px;
	position: inline-block;
	margin: 0px 0px 0px 50px;
	
}

.subtext {
	color: #000000 ;
	font-size: 20px ;
	display: inline;
}


#photo {
	width: 250px;
	height: 350px;
	position: inline-block;
	margin: 150px 0px -200px 480px;
}

#tagline {
	position: inline-block;
	margin: -70px 0px 0px 50px;

}

#menu-bar {
	width: 300px;
	position: fixed;
	top: 0;
	visibility: hidden;
}

#logo {
	color: #000;
	margin-top: 40px;
	margin-left: 40px;
	margin-bottom: 20px;
}

.main {
	color: #000;
	width: 125px;
	display: inline-block;
	font-family: 'Archivo Black', sans-serif;
	font-size: 35px; 
}

.pic {
	color: #000;
	display: inline;
}


.main a:link {
	color: #000;
}

.main a:hover, .main a:active {
  color: #ff1256;
}

.item {
	margin-left: 50px;
	font-family: 'Archivo Black', sans-serif;
	font-size: 25px;
	font-weight: 100;
	color: #ddd;
}

.special_item {
	margin-left: 50px;
	font-family: 'Archivo Black', sans-serif;
	font-size: 25px;
	font-weight: 100;
	color: #ff1256;
}

hr {
    display: block;
    height:0px;
    width: 225px;
    border-top: 0.25px solid #eee;
    margin: 10px 40px;
    padding: 0;
}

/* responsive design for mobile */
@media screen and (max-width: 1200px) {
	a {
 	text-decoration: none;
 	}

	a:link, a:visited {
 	color: #ddd;
 	}

	a:hover {
 	color: #000
 	}

	a:active {
	text-decoration: bold;
	color: #ff1256;
	}
	#banner {
		visibility: hidden;
	}
    #menu-bar {
    	position: absolute;
    	visibility: visible;
    }
    #page-wrap {
    	width: 500px;
    }  
  }
